<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ site.name }}</title>

		<meta name="viewport" content="width=device-width, initial-scale=1">

		{{ function('wp_head') }}
	</head>

	<body>
		<div id="site-wrapper">
			{% include 'partials/header.twig' %}

				<main>
					{% block content %}
					{% endblock %}
				</main>

			{% include 'partials/footer.twig' %}
		</div><!-- close site-wrapper -->

		{{ function('wp_footer') }}
	</body>
</html>
