{% extends 'base.twig' %}
{% block content %}
	<div class="effects">

		<h1>{{ post.title}}</h1>
		<h2>Basic vertical scroll</h2>

		<div class="grid-container">
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
			<div class="grid module"></div>
		</div>
	</div><!--/.effects -->
{% endblock %}
