{% extends 'base.twig' %}
{% block content %}

	<h1>{{ post.title}}</h1>
	<p>{{ post.content }}</p>

		{% for post in posts %}
	    	<article>
	    		<h1><a href="{{ post.link }}">{{ post.title }}</a></h1>
			</article>
		{% endfor %}

{% endblock %}
