/* scroll effect - basic vert
----------------------------------------------------------------------------- */

.module {
	min-height: 400px;
	background: white;
	border: 1px solid rgba(black, 1);
	box-shadow: 2px 4px 7px rgba(black, 0.05);
}

.come-in {
	/* transform: translateY(50px);
	animation: come-in 0.8s ease forwards; */

	transform: translateY(600px);
	animation: come-in 1.25s ease forwards;
}

.come-in:nth-child(odd) {
	/* animation-duration: 0.6s; */
	//animation-duration: 1s;
}

.already-visible {
	transform: translateY(0);
	animation: none;
}

@keyframes come-in {
	to { transform: translateY(0); }
}
